*, *::after, *::before{
    box-sizing: border-box;
}

body{
    display: flex;  
    justify-content: center;
    align-items: center;
}

button {
    padding: 25px;
    height: 80px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin: 1px;
    font-family: monospace;
    font-size: 2em;
}

.double{
    width: 206px;
}

.number{
    background-color: cadetblue;
}

.number:active{
    background-color: rgb(66, 113, 114);
}

.operation{
    background-color: orange;
}

.operation:active{
    background-color: rgb(188, 122, 0);
}

.action{
    background-color: lightseagreen;
}

.action:active{
    background-color: rgb(26, 139, 134);
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 500px;
    width: 75vh;
    min-width: 436px;
    padding: 5px 0px;
    /* for dev purposes */
    background-color: black;
}

#display{
    flex: 1 auto;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
    width: 95%;
    font-family: monospace;
}