*, *::after, *::before{
    box-sizing: border-box;
}

body{
    display: flex;  
    justify-content: center;
    align-items: center;
}

button {
    padding: 25px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;
}

.double{
    width: 200px;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75vh;
}